body {
    margin: 0;
    padding: 0;
  }
  
  /* Section 1 */
  #section1 {
    height: 100vh; /* Adjust the height as needed */
    background-image: url('https://media.istockphoto.com/id/1127239972/photo/pharmaceutical-pharmacy-industry.jpg?s=612x612&w=0&k=20&c=HBLHQxTyIuh5jjgx2JzmPu6awtr6QXLxCh6FF5uim9g=');
    background-size: cover;
    background-position: center;
    color: #fff; /* Set text color for better visibility */
    text-align: center;
    padding: 20px;
  }
  
  /* Section 2 */
  #section2 {
    height: 100vh; /* Adjust the height as needed */
    background-image: url('https://media.istockphoto.com/id/1128287647/photo/young-depressed-man-sitting-alone-in-the-forest.jpg?s=612x612&w=0&k=20&c=c9I8ntg-6vzsqATevMsD2sDqtqRkWzzSjtmSAUPGZp8=');
    background-size: cover;
    background-position: center;
    color: #fff; /* Set text color for better visibility */
    text-align: center;
    padding: 20px;
  }
  
  /* Section 3 */
  #section3 {
    height: 100vh; /* Adjust the height as needed */
    background-image: url('https://media.istockphoto.com/id/1383998608/photo/portrait-of-woman-with-vr-glasses-virtual-reality-experience-and-future-technology-concept.jpg?s=612x612&w=0&k=20&c=KaCQpikRj0JJoHZxhYpQxdXbFLdPFPLWRlvZe2sQ13Q=');
    background-size: cover;
    background-position: center;
    color: #fff; /* Set text color for better visibility */
    text-align: center;
    padding: 20px;
  }
  /* Add more sections as needed */
  .container-fluid{
    display:flex;
  }
  .navbar ul{
    display: flex;
  }
  .navbar{
    background-color: black;
  }
  .navbar ul li{
    
    list-style: none;
    font-size: 1.2rem;
}
.navbar ul li a{
    display: block;
    padding: 3px 19px;
    text-decoration: none;
    color: rgb(183, 174, 174);
    transition: all 0.4s linear;
}
.nav-link:hover{
  background-color: #362d2d;
}
.navbar-brand{
    color:white;
    font-size: 1.5rem;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    
}
.navbar-brand svg{
     padding-right: 19px;
}
h1{
    color: black;
    font-weight: bolder;
    font-size: 4rem;
}
#section1{
    padding-top: 180px;
}
pre{
    color:rgb(44, 38, 38);
    font-size: 1.6rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button-container {
    text-align: center;
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 7px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #3498db;
    border: 2px solid #2980b9;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .button:hover {
    background-color: #2980b9;
  }
  #section2 h1{
    color: #f7efef;
    padding-top: 5%;
  }
  h2{
    color: #dcddd6;
  }
  .story {
 
    padding: 5px 5px;
    margin: 5px 5px;
    margin-bottom: 20%;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #322a2a;
    background-color: #30954c;
    border: 2px solid #067f37;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .story:hover {
    background-color: #1e8531;
  }
  .game{
    color: rgb(106, 27, 44);
    font-size: 1.2rem
  }
  .metaverse{
    color: #0e527f;
  }
  